services:
  dev:
    build:
      context: .
      target: dev
    container_name: ros2_dev
    stdin_open: true
    tty: true
    network_mode: host
    privileged: true
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - ROS_DOMAIN_ID=0
      - GAZEBO_MODEL_PATH=/root/ros2_ws/src/robile_gazebo/models
    volumes:
      - ./workspace:/root/ws
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev/dri:/dev/dri

  prod:
    build:
      context: .
      target: prod
    container_name: ros2_prod
    stdin_open: true
    tty: true
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=0
    volumes:
      - ./workspace:/root/ws